.service-request {
    background-color: #f8f9fa;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.service-request h3 {
    color: #007bff;
}
.service-request p {
    color: #6c757d;
}

.container h2{
    text-align: center;
}

.service-requests h2 {
    color: #333;
    font-family: Arial, sans-serif;
}

.service-requests ul {
    list-style-type: none;
    padding: 0;
}

.service-requests li {
    background-color: #f2f2f2;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
}

.service-requests li h3 {
    color: #007BFF;
}

.service-requests li p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}

/* Update booking status ko lagi css  */


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}

h2 {
    text-align: center;
    color: #333;
}

.form-control {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 22px); /* Adjust based on padding */
    box-sizing: border-box; /* Makes sure padding doesn't affect width */
}

.form-control:focus {
    border-color: #0056b3;
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #004494;
}


